<launch>
<param name="/philosophers/max_eating_time" type="int" value="5" />
<param name="/philosophers/max_thinking_time" type="int" value="1" />
<node name="stateManager" type="server" pkg="state_manager" respawn="false"/>
<node name="fork_holder" type="RemotePositiveCounter" pkg="remote_counter" respawn="false" args="forkcnt 10"/>
<node name="watchdog" type="wdtMonitor" pkg="watchdog_timer" respawn="false"/>
<node name="philosopher0" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="0 forkcnt 2"/>
<node name="philosopher1" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="1 forkcnt 2"/>
<node name="philosopher2" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="2 forkcnt 2"/>
<node name="philosopher3" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="3 forkcnt 2"/>
<node name="philosopher4" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="4 forkcnt 2"/>
<node name="philosopher5" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="5 forkcnt 2"/>
<node name="philosopher6" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="6 forkcnt 2"/>
<node name="philosopher7" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="7 forkcnt 2"/>
<node name="philosopher8" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="8 forkcnt 2"/>
<node name="philosopher9" type="monitoredPhilosopher" pkg="dining_philosopher" respawn="false" args="9 forkcnt 2"/>
</launch>
